:root{
  --bg-color: #eee;
  --text-color: #333
}

body {
  background-color: var(--bg-color);
}

.checkbox {
  display: none;
}

.title,
.paragraph {
  color: var(--text-color)
}

.switch {
  display: block;
  width: 100px;
  height: 50px;
  background-color: grey;
  border-radius: 25px;
}

.switch::before {
  content: '';
  display: block;
}